<div class="col-sm-12">
    <h1 class="section-header">Create Recipe</h1>
</div>

<div class="col-sm-6">
    <div class="form-group">
        <label for="create_recipe_name">Name</label>
        <input type="text" class="form-control" id="create_recipe_name">
    </div>

    <div class="form-group">
        <label for="create_recipe_yields">Yield</label>
        <input type="text" class="form-control" id ="create_recipe_yields">
    </div>

    <div class="form-group">
        <label for="create_recipe_ingredients">Ingredients</label>
        <div class="input-group">
            <input type="text" class="form-control" id="create_recipe_ingredients">
            <div class="input-group-btn">
                <button class="btn btn-primary" onclick="v.editor.add_ingredient()">Add</button>
            </div>
        </div>
    </div>
    <ul id="create_recipe_entered_ingredients" class="list-unstyled"></ul>

    <div class="form-group">
        <label for="create_recipe_tags">Tags</label>
        <div class="input-group">
            <input type="text" class="form-control" id="create_recipe_tags">
            <div class="input-group-btn">
                <button class="btn btn-primary" onclick="v.editor.add_tag()">Add</button>
            </div>
        </div>
    </div>
    <ul id="create_recipe_entered_tags" class="list-unstyled"></ul>
</div>

<div class="col-sm-6">
        <div class="form-group">
            <label for="create_recipe_notes">Notes</label>
            <input type="text" class="form-control" id="create_recipe_notes">
        </div>

        <div class="form-group">
            <label for="recipe_create_directions">Directions</label>
            <textarea class="form-control" id="create_recipe_directions" rows="20" style="max-width:100%"></textarea>
        </div>
</div>











