<div class="col-xs-12">
    <h1 id="disp_recipe_name">Recipe</h1>
</div>

<div class="col-xs-12 col-sm-3">
    <h3>Yields: <small id="disp_recipe_yields"></small></h3>
</div>

<div class="col-xs-12 col-sm-9">
    <h3>Notes:</h3>
    <p id="disp_recipe_notes"></p>
</div>

<div class="col-xs-12 col-sm-4">
    <h3>Ingredients:</h3>
    <ul id="disp_recipe_ingredients" class="list-unstyled"></ul>
</div>

<div class="col-xs-12 col-sm-8">
    <h3>Directions:</h3>
    <p id="disp_recipe_directions"></p>
</div>

<div class="col-xs-12">
    <h3>Tags:</h3>
</div>