body {
    padding-top: 80px;
    background-color: #e7e7e7;
}

#create {
    text-align: left;
}

.list-alpha {
    text-align: left;
}

.section-header {
    width: 100%;
    text-align: left;
    border-bottom: solid;
    border-color: darkslategray;
    color: darkslategray;
    border-bottom-width: 2px;
}

.content {
	padding-bottom: 20px;
}

.hidden {
    display: none;
}

.recipe_card {
    /*border-left-color: blue;*/
    /*border-left-style: inset;*/
    /*background-color: white;*/
}

.card_title {
    text-align: left;
    text-decoration: underline;
}

.card_desc {
}

#disp_recipe {
    text-align: left;
}