body {
  padding-top: 50px;
}

.container-top {
  padding: 40px 15px;
  text-align: center;
}

.content {
	padding-bottom: 20px;
}

.hidden {
	display: none;
}

.recipe_card {
	background-color: #e7e7e7;
	height: 50px;
}
