body {
	padding-top: 50px;
	color: #f0e7d5;
	background-color: #252525;
}

a {
	color: #f0e7d5;
	text-decoration: none;
}

a:hover {
	color: #ffcc00;
}

#create {
	text-align: left;
}

.list-alpha {
	text-align: left;
}

.section-header {
	width: 100%;
	text-align: left;
	border-bottom: solid;
	/*
	border-color: darkslategray;
	color: darkslategray;
	*/
	color: #f0e7d5;
	border-bottom-width: 2px;
}

.content {
	padding-bottom: 20px;
}

.hidden {
	display: none;
}

.recipe_card {
	/*border-left-color: blue;*/
	/*border-left-style: inset;*/
	/*background-color: white;*/
}

.card_title {
	text-align: left;
	text-decoration: underline;
}

.card_desc {
}

#disp_recipe {
	text-align: left;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}